# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# intelij
*.iml
.idea
*.ipr
*.iws

.coverprofile
gover.coverprofile
README.generated.md
README.original.md

#executable
birthday-pal
bin/


